@import url('colors.css');

.about-page {
    margin-bottom: 9rem;
    scroll-margin-top: 6rem;
    display: block;
}

.about-bio {
    font-family: var(--font-body);
    font-size: var(--font-sz-body);
    color: var(--text-color);
}

.about-paragraph {
    margin-bottom: 1rem;
}