@import url('Navbar.css');
@import url('colors.css');

.about-page {
    width: 100%;
    height: calc(100% - var(--navbar-height));
    background-color: var(--background-color);
}

.about-heading {
    font-family: 'Lora Variable', serif;
    font-size: 3rem;
    color: var(--secondary-accent-color)
}

.about-bio {
    font-family: 'Montserrat-Variable', sans-serif;
    font-size: 1rem;
    color: var(--text-color);
}