@import url('colors.css');

.app {
    position: relative;
}

.app-container {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3rem;
    /* z-index: 1; */
    /* TODO: add support for mobile */
        /* medium screen
    @media (min-width: 768px) {
        padding: 4rem 3rem;
    }

    large screen
    @media (min-width: 1024px) {
        padding-top: 0;
        padding-bottom: 0;
    } */
}

.app-split {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.app-content {
    width: 52%;
    padding: 6rem 0;
}