@import url('colors.css');

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    place-content: center center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}

.background-gradient {
    position: absolute;
    --speed: 25s;
    --gradient-size: 500px;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--gradient-size);
    height: var(--gradient-size);
    filter: blur(calc(var(--gradient-size) / 5));
    background-image: linear-gradient(var(--gradient-color-one), var(--gradient-color-two));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}