@import url('colors.css');

.button {
    font-family: 'Lora Variable', serif;
    background-color: var(--surface-color);
    color: var(--secondary-accent-color);
    border-radius: 12px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid var(--secondary-accent-color);
    padding: 1rem 2rem 1rem;
    transition-duration: 200ms;
}

.button:hover {
    border: 2px solid var(--primary-accent-color);
    color: var(--primary-accent-color);
}

@media(max-width: 1024px) {
    .button {
        font-size: 1rem;
        padding: 0.75rem 1.5rem 0.75rem;
    }
}