:root {
    --background-color: #121212;
    --surface-color: #1e1e1e;
    --primary-accent-color: #004d61;
    --secondary-accent-color: #1e90ff;
    --text-color: #e1e1e1;
    --link-inactive: #e1e1e1;
    --link-active: #1e90ff;
    --text-color-front: #e1e1e1;
    --text-color-secondary: #bbbbbb;
    --text-color-third: #8b8b8b;
    --gradient-color-one: #1212123f;
    --gradient-color-two: #1e8fff3f;
}