@import url('colors.css');
@import url('fonts.css');


.typewriter-text {
    display: inline-flex;
    align-items: center;
    transition-duration: 300ms;
    transform: translateY(0);
    opacity: 100%;
    transition-duration: 300ms;
}

.typewriter-text.fade {
    opacity: 0%;
    translate: translateY(2rem);
}

.typewriter-icon {
    margin-left: 0.5rem;
    opacity: 100%;
    height: var(--font-sz-sm);
    width: var(--font-sz-sm);
    fill: var(--text-color-secondary);
    transition-duration: 300ms;
}

.typewriter-icon.fade {
    opacity: 0%;
    translate: translateY(2rem);
}

@media (max-width: 1024px) {
    .typewriter-icon {
        height: 24px;
        width: 24px;
    }
}