@import url('colors.css');
@import url('Navbar.css');

.homepage-container {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    margin-top: var(--navbar-height);
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat-Variable', sans-serif;
    font-weight: 300;
}

.homepage-background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center end;
    align-items: center;
    overflow: hidden;
    height: calc(100vh - var(--navbar-height));
}

/* credit - Will van der Tuin: https://codepen.io/wilvander/pen/KKQrGgP */
.homepage-gradient {
    position: absolute;
    --speed: 25s;
    --gradient-size: 500px;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--gradient-size);
    height: var(--gradient-size);
    filter: blur(calc(var(--gradient-size) / 5));
    background-image: linear-gradient(var(--primary-accent-color), var(--secondary-accent-color));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.homepage-content {
    position: relative;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 6rem;
    margin: 0 auto;
    height: 100%;
}

.homepage-greeting {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.homepage-name {
    font-size: 7rem;
    font-family: 'Lora Variable', serif;
    font-weight: 500;
}

.homepage-animation {
    height: 6rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: var(--secondary-accent-color)
}

.landing-banner {
    padding-top: 2rem;
    font-size: 1.25rem;
    width: 40%;
}

.landing-buttons {
    padding-top: 2rem;
    color: var(--secondary-accent-color);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* mobile support */
@media (max-width: 1024px) {
  .homepage-gradient {
    --gradient-size: 150px;
    place-content: bottom end;
    align-items: end;
  }

  .homepage-content {
    padding-left: 2rem;
  }

  .homepage-greeting {
    font-size: 2rem;
  }

  .homepage-name {
    font-size: 4rem;
  }

  .homepage-animation {
    font-size: 1.5rem;
  }

  .landing-banner {
    font-size: 1rem;
    width: 50%;
  }
}