@import url('colors.css');
@import url('Navbar.css');

.homepage-container {
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    margin-top: var(--navbar-height);
    background-color: var(--background-color);
    color: var(--text-color);
}

.homepage-name {
    font-size: 50px;
}

.homepage-animation {
    height: 10%;
    width: 100%
}

.landing-banner {
    padding-top: 10px;
}