/* Global CSS variables and font setup */
@import url('colors.css');

.navbar {
  display: block;
  overflow: hidden;
}

.navbarList {
  margin-top: 4rem;
  width: max-content;
}

.navbarItem {
  color: var(--link-inactive);
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}